.container{
background-color: #000;
color: white;
min-height: 100vh;
max-width: 100vw;

}

.signUpBg{
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/0f07b807-7be1-457d-be88-eb9153d5d4e9/cd6c5353-734a-4124-817c-96b3c7e6de7c/TN-en-20220815-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    object-fit: cover;
    background-repeat: no-repeat;    
}

.signUpContainer{
    background-color: rgba(0,0,0,0.4);
    height: 100vh;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
}